* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  align-items: center;
}
body {
  background: #f4f8fd;
  width: 100%;
  height: 100%;
}
.chill {
  align-content: center;
  width: 1800px;
  max-width: 450px;
  background: linear-gradient(135deg, #1f85aa, #383165);
  color: #fff;
  margin: 220px;
  border-radius: 25px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 2;
  margin-right: 18px;
  font-size: 18px;
}
.search button {
  border-radius: 30px;
  background-color: #3dbcf9;
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.city {
  font-weight: 0;
  font-size: 40px;
  text-align: left;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.datedaytime {
  text-align: left;
  margin-top: -10px;
}
.city-icon {
  width: 170px;
  margin-top: 30px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin-top: 50px;
}

.humidity,
.wind {
  font-size: 20px;
  margin-top: -4px;
}
.pressure {
  padding-left: 0 10px;
}
.temp {
  font-size: 60px;
}
.temperature {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.temp {
  margin-top: 60px;
}
.date {
  font-size: 20px;
  padding-right: 80px;
  margin-top: -20px;
}

.days {
  float: right;
  align-items: center;
  width: 2000px;
  max-width: 650px;
  border: 2px solid;
  border-color: #3498db;
  background: linear-gradient(135deg, #62a6be, #9c91e1);
  height: 640px;
  border-radius: 30px;
}

h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.Sun {
  color: white;
  font-size: x-large;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.Mon {
  color: white;
  font-size: x-large;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.Tue {
  color: white;
  font-size: x-large;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.Wed {
  color: white;
  font-size: x-large;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.Thur {
  color: white;
  font-size: x-large;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.Fri {
  color: white;
  font-size: x-large;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.Sat {
  color: white;
  font-size: x-large;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
#day {
  margin-left: 20px;
}
#Humidity {
  margin-right: 20px;
}
