* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #f4f8fd;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Main Card */
.chill {
  width: 100%;
  max-width: 450px;
  background: linear-gradient(135deg, #1f85aa, #383165);
  color: #fff;
  border-radius: 25px;
  padding: 40px 35px;
  text-align: center;
  
}

/* Search */
.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  flex: 1;
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 20px;
  height: 50px;
  border-radius: 30px;
  font-size: 16px;
}

.search button {
  border-radius: 50%;
  background-color: #3dbcf9;
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* City */
.city {
  font-size: 32px;
  margin-top: 20px;
}
.city,
.dateday {
  text-align: left;
  width: 100%;
}

/* Date */
.dateday {
  margin-top: 5px;
  font-size: 16px;
}

/* Temperature */
.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.temp {
  font-size: 60px;
}

.temperature img {
  height: 150px;
}

/* Details */
.details {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  text-align: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col img {
  margin-bottom: 8px;
}

.humidity,
.pressure,
.wind {
  font-size: 18px;
}

/* Mobile Responsive */
@media (max-width: 420px) {
  .chill {
    padding: 20px;
  }

  .temp {
    font-size: 42px;
  }

  .temperature img {
    height: 100px;
  }

  .details {
    flex-direction: column;
    gap: 20px;
  }
}
